<div class="ui grid" style="padding: 10px;">
  
  <%= render 'shares/rank' %>
  
  <div class="eight wide column">
    <% @products.each do |product| %>
    <div class="ui raised segment">
        <div style="padding-bottom: .5em;border-bottom: 1px solid #ccc;">
            <%= link_to "#{product.name}", product %>
        </div><br>
        <%= image_tag(product.url, :size => '50x50', :class => "ui middle aligned tiny image") if !product.url.nil? %>
        <span>
        <%= product.description.truncate(40) %>
        </span>
    </div>
    <% end %>
  </div>
  
  <div class="four wide column">
    <div class="ui raised segments">
        <div class="ui segment">カテゴリ</div>
        <div class="ui segment">
            <% @categories.each do |category| %>
                <span class="ui orange label" style="padding: 5px;"><%= category.name %></span>
            <% end %>
        </div>
    </div>
  </div>
</div>


<script type="text/javascript">
var nend_params = {"media":48427,"site":265644,"spot":772191,"type":2,"oriented":1};
</script>
<script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
